/* BALISES */

html {
	background-color : black;
}

a {
	text-decoration: none;
}

nav {
	padding-top : 1em;
	background-color : #3d4147;
	padding-bottom : 3em;  
}

footer{	
	text-align : center;
	background-color : #3d4147;
	color : #95979b;	
}

footer a{
	color : #95979b;
	text-decoration: underline;
}

#active a{
  color : #ed9a42;
}


/* GESTION DU MENU */

.menu ul{
	/*display : inline;*/
	
}

.menu li {
	list-style-type : none;
	display : inline;
	float : left;
	
}

.menu li ul{
	position : absolute;
	
}

.menu li a{
	/*display : inline;*/	
	
	color : white;
	margin-left : 3em;
	padding-right : 5em;
	text-align : center;
	transition : color 0.5s;
}

.menu li{

	/*
	display : inline;	
	padding : 2em;
	padding-bottom : 1em;
	*/
}

.menu ul li ul{	
	display : none;
	text-transform: none;
	
}

.menu ul li:hover ul{	
	display: block;
	background-color : #3d4147; 
	text-align : center;
	
}

.menu li:hover ul li  {	
	display: block;
	float : none;
	padding-right : 2em;	
}

.snav li a {
	padding-right : 0em;
	margin-left : 0em;
	/*margin-bottom : 50em;*/
}

.menu li a:hover{
	color : #95979b;
}

/* PAGE */

.titre {
	color : black;
	background-color : white;
	text-align : center;
}

.titre2 {
	margin-left : 15em;
}

.titre p {
	color : black;
}

/*.titre1 {
	text-align : center;	
}*/

.paragraphe {
	background-color : #3d4147;
}

.paragraphe p, .paragraphe h1 {
	margin-left : 15 em;
	color : white
}

